@font-face {
  font-family: poppins;
  src: url(./fonts/Agbalumo-Regular.ttf);
}
.logo {
  color: white;
  font-size: 55px;
  font-family: poppins;
  pointer-events: none;
  opacity: 0;
  animation: slidetop 1s ease forwards;
}
.port {
  background: linear-gradient(45deg, #f06, #3cf);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.li {
  display: inline-block;
  color: white;
  font-size: 18px;
  font-family: poppins;
  margin-right: 5px;
  transition: 1s ease;
  opacity: 0;
  animation: slidetop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.li:hover {
  background: linear-gradient(45deg, #f06, #3cf);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 600;
}
.li:visited {
  background: linear-gradient(45deg, #f06, #3cf);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 600;
}
.home {
  background: linear-gradient(45deg, #f06, #3cf);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 600;
}
/* navbar end */
/* HOME SECTION */

.home-heading {
  color: white;
  font-family: poppins;
  font-size: 25px;
  opacity: 0;
  animation: slideleft 0.5s ease forwards;
  animation-delay: 0.1s;
}

.home-name {
  color: white;
  font-family: poppins;
  font-size: 50px;
  -webkit-background-clip: text;
  background-image: linear-gradient(45deg, #f06, #3cf, #f06);
  background-repeat: no-repeat;
  background-position: -450px 0;
  /* -webkit-text-stroke: 1px; */
  color: transparent;
  animation: backcolor 5s linear infinite;
}
.home-content {
  color: white;
  font-family: poppins;
  font-size: 25px;
  opacity: 0;
  animation: slideleft 0.5s ease forwards;
  animation-delay: 0.1s;
}
.hire {
  color: white;
  font-family: poppins;
  font-size: 20px;
  letter-spacing: 1px;
  z-index: 1;
  border-radius: 40px;
  height: 48px;
  width: 180px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  position: relative;
  text-decoration: none;
  border: none;
  opacity: 0;
  animation: slidetop 1s ease forwards;
  animation-delay: 0.1s;
}
.hire::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(45deg, #f06, #3cf, #f06);
  background-size: 200%;
  background-position: 0 0;
  z-index: -1;
  border-radius: 40px;
  filter: blur(5px);
  transition: 0.3s ease;
}
.hire:hover::before {
  background-position: 100% 0;
}

.hire::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(45deg, #f06, #3cf, #f06);
  background-size: 200%;
  background-position: 0 0;
  z-index: -1;
  border-radius: 40px;
  transition: 0.5s ease;
}
.hire:hover::after {
  background-position: 100% 0;
}
.fa-brande {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
  width: 40px;
  height: 40px;
  background: linear-gradient(45deg, #f06, #3cf);
  border-radius: 50%;
  z-index: 1;
  text-decoration: none;
  margin-right: 4px;
  opacity: 0;
  animation: slidebottom 1s ease forwards;
  animation-delay: 1s;
}
.fa-twi::after {
  margin-left: -73%;
}
.fa-brande::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  margin-left: -69%;
  margin-top: -57%;
  border-radius: 50%;
  transform: scale(0.88);
  z-index: -1;
  transition: 0.5s ease;
}
.fa-brande:hover::after {
  transform: scale(0);
}
.home-img {
  width: 420px;
  height: 370px;
  opacity: 0;
  animation: zoomin 1s ease forwards, floatimage 4s ease-in-out infinite;
  animation-delay: 1.5s, 2.1s;
}
.home-img .glowing-circle {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: -50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-img .glowing-circle::after {
  content: "";
  position: absolute;
  width: 340px;
  height: 360px;
  background-color: black;
  border-radius: 50%;
}
.glowing-circle .img-span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#f06, #3cf);
  border-radius: 50%;
  animation: circlerotate 5s linear infinite;
}
.glowing-circle .img-span {
  filter: blur(5px);
}
.glowing-circle .image {
  position: relative;
  height: 360px;
  width: 340px;

  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
}
.image .home-pic {
  max-width: 350px;
  object-fit: cover;
}
/* about me sectiion */

.about-me {
  color: white;
  font-family: poppins;
  font-size: 55px;
  text-align: center;
}
.about-heading {
  font-size: 40px;
}
.about-content {
  color: white;
  /* font-family: poppins;
   */
  font-family: Georgia, "Times New Roman", Times, serif;
  opacity: 0;
  animation: slidebottom 1s ease forwards;
  animation-delay: 1s;
}
.bar-heading {
  color: white;
  font-family: poppins;
  text-align: start;
  opacity: 0;
  animation: slideleft 2s ease forwards;
  animation-delay: 1.9s;
}

.progress-bar {
  background: linear-gradient(45deg, #f06, #3cf);
  animation: slideright2 2s ease-in-out backwards;
  animation-delay: 4s;
}
/* projects */
.project {
  padding-top: 10%;
  padding-bottom: 8%;
}
.project-div {
  border-image: linear-gradient(45deg, #f06, #3cf) 30;
  border-width: 4px;
  border-style: solid;
}
.project-img {
  width: 100%;
  height: 30vh;
}
.pro-link {
  text-decoration: none;
  color: white;
}
.live {
  border: none;
  color: white;
  background-color: transparent;
  font-family: poppins;
  transition: 1s;
  height: 7vh;
  border-radius: 20px;
  margin-bottom: 20px;
}
.live:hover {
  background: linear-gradient(45deg, #f06, #3cf);
  /* -webkit-text-fill-color: transparent; */
  /* -webkit-background-clip: text; */
  width: 40%;
  height: 7vh;
  border-radius: 20px;
}
/* contact us */

.contact-me-heading {
  background: linear-gradient(45deg, #f06, #3cf);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: poppins;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: slideright 0.5s ease forwards;
  animation-delay: 1.6s;
}
.contact-content {
  color: white;
  font-family: poppins;
}
.contact-inp {
  background-color: white;
  border: none;
  border-radius: 10px;
  width: 30%;
  height: 10%;
  padding: 15px 10px;
  padding-right: 40px;
}
.phone-inp {
  background-color: white;
  border: none;
  border-radius: 10px;
  width: 60%;
  height: 10%;
  padding: 15px 10px;
  padding-right: 40px;
}
.text-area {
  border-radius: 10px;
  border: none;
  padding-left: 2%;
  padding-right: 28%;
}
.hr {
  color: rgb(80, 63, 63);
  margin-top: 10px;
}
.end-para {
  color: white;
  font-family: poppins;
  text-align: center;
}
/* animation keyframes 
 */
@keyframes backcolor {
  100% {
    background-position: 0 0;
  }
}
@keyframes slidetop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideright {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideright2 {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slidebottom {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideleft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes zoomin {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes floatimage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes circlerotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .fa-brands {
    padding-top: 5%;
  }
  .fa-brands::after {
    margin-top: -46%;
  }
  .fa-twi::after {
    margin-left: -74%;
  }
  .home-img .glowing-circle {
    margin-top: 50px;
  }
  .image .home-pic {
    max-width: 300px;
  }
  .home-img .glowing-circle::after {
    content: "";
    position: absolute;
    width: 270px;
    height: 300px;
    background-color: black;
    border-radius: 50%;
  }
  .glowing-circle .img-span {
    position: absolute;
    width: 82%;
    height: 82%;
    background: linear-gradient(#f06, #3cf);
    border-radius: 50%;
    animation: circlerotate 7s linear infinite;
  }
  .glowing-circle .img-span {
    filter: blur(5px);
  }
  .glowing-circle .image {
    position: relative;
    height: 300px;
    width: 270px;

    z-index: 1;
    border-radius: 50%;
    overflow: hidden;
  }
  .image .home-pic {
    max-width: 270px;
    object-fit: cover;
  }

  .text-area {
    padding: 0 0;
  }
  .project {
    padding-top: 30%;
    padding-bottom: 18%;
  }
  .abt {
    padding-top: 25%;
  }
  .con{
    padding-top: 15%;
    padding-bottom: 18%;
  }
}
